@import url("https://fonts.googleapis.com/css2?family=Questrial&family=Raleway:wght@400;500;600;700;800;900&family=Space+Grotesk:wght@300;400;500;600;700&display=swap");


html {
    scroll-behavior: smooth;
}
body {
    background: rgb(235, 237, 248);
    font-family: "Space Grotesk", sans-serif;
}

#title {
    margin-top: 60px;
    margin-left: 10px;
}



span {
    color: rgb(255, 72, 0);
}

#img-div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
    
    
}

#img-caption {
    font-size: 25px;
}

#image {
    width: 300px;
    height: 300px;
    
    border-radius: 100%;
    box-shadow: 2px 2px 2px 2px rgb(253, 214, 209);
    
}

.btn {
    background-color: tomato;
    text-decoration: none;
    margin-bottom: 40px;
    display: inline-block;
    padding: 12px;
    border: 0;
    border-radius: 7px;
    color: whitesmoke;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
    width: 200px;

}

.btn:hover {
    background-color: rgb(243, 55, 22);
    opacity: 0.9;
}

#tribute-info {
    text-align: center;
}



@media screen and (max-width:600px) {

    #img-div img {
        max-width: none;
    }

    #title {
        text-align: center;
    }
    #tribute-info {
        width: auto;
        height: auto;
    }

    #img-caption {
        text-align: center;
    }

    .btn {
        margin-bottom: 40px;
    }
    
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }

  